# Node
node_modules
npm-debug.log*

# Local env
.env

# Build artifacts
/dist

# Backup exports
*.tar.gz

# OS
.DS_Store

.cache
.claude
.claude.json
.claude.json.backup
.gemini
.config
.local
.npm
.pki
